{% extends "navbar.html" %}
{% block tittle %}Configuraciones{% endblock %}
{% block content %}


<article class="content">
    <h1 style="color: #188195";>Mi Perfil (Settings)</h1>
    <p class="message">Esta es la información de tu perfil</p>
    {% if user %}
    <div style="border: 1px solid #188195; padding: 20px; border-radius: 8px; max-width: 400px;">
        <p><strong>ID de Usuario</strong>{{ user.id }}</p>
        <p><strong>Nombre Completo</strong>{{ user.fname }}</p>
        <p><strong>Email (Login)</strong>{{ user.email }}</p>
    </div>
    {% else %}
    <p class="error" style="color: rgb(160, 0, 0);">Error: Usuario no obtenido</p>
    {% endif %}
    
</article>
{% endblock %}